
*{
   font-family: "Roboto";
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.janela_toda{

    display: flex;
    width: 817px;
    height: 664px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.cabecalho{
    max-width: 817px;
    min-width: 817px;
    max-height: 68px;
    min-height: 68px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
}

.nome{

    font-size: 24px;
    margin-left: 20px;
    font-weight: 400;
}

.corpo_app{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 817px;
    min-height: 596px;
    background-color: #fafafa;
    border: 1px solid black;
    border-top: 0px;
}
.campo_leitura{

    min-height: 426px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.corpo_mensagem{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 88px;
    width: 777px;
    margin-top: 10px;
}

.mensagem{

    width: 735px;
    height: 60px;
    padding: 10px 20px;
    border: 1px solid black;
}

.mensagem_botoes{
    display: flex;
    justify-content: flex-end;
}

#btn_editar{
    
    background-color: #F6A75D;
    margin: 0px;
    border: 0px;
    height: 26px;
}

#btn_excluir{
    
    background-color: #F65D5D;
    margin: 0px;
    border: 0px;
    height: 26px;
}

.campo_digitar{

    min-width: 609px;
    max-width: 609px;
    min-height: 170px;
    max-height: 170px;
    background-color: #c4c4c4;
    border: 1px solid black;
    display: flex;
}

textarea {

    width: 460px;
    height: 110px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    resize: none;
}

#btn_enviar{

    background-color: #0066CC;
    width: 79px;
    height: 36px;
    border: 0px;
    padding: 0px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 400;
    color: #FFFFFF;
}